<section class="experiences">
  <h2 class="black-text"><i class="fa fa-briefcase"></i>Experiences</h2>

  {% for experience in site.data.cv.experiences %}
  <div class="item">
    <div class="row">
        <h3 class="job-title black-text">{{experience.title}}</h3>
        <p class="period gray-text">{{experience.period}}</p>
    </div><!--//row-->
    <div style="clear: both;"></div>
    <div class="company gray-text">{{experience.company}}</div>
    <div class="details gray-text">
      {{experience.description | markdownify}}
    </div><!--//details-->
  </div><!--//item-->
  {% endfor %}

</section>
