<section class="experiences">
  <h2 class="black-text"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="row">
        <h3 class="job-title black-text">Lead Developer</h3>
        <p class="period gray-text">2015 - Present</p>
    </div><!--//row-->
    <div style="clear: both;"></div>
    <div class="company gray-text">Startup Hubs, San Francisco</div>
    <div class="details gray-text">
        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    </div><!--//details-->
  </div><!--//item-->


    <div class="item">
      <div class="row">
          <h3 class="job-title black-text">Lead Developer</h3>
          <p class="period gray-text">2015 - Present</p>
      </div><!--//row-->
      <div style="clear: both;"></div>
      <div class="company gray-text">Startup Hubs, San Francisco</div>
      <div class="details gray-text">
          <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      </div><!--//details-->
    </div><!--//item-->


      <div class="item">
        <div class="row">
            <h3 class="job-title black-text">Lead Developer</h3>
            <p class="period gray-text">2015 - Present</p>
        </div><!--//row-->
        <div style="clear: both;"></div>
        <div class="company gray-text">Startup Hubs, San Francisco</div>
        <div class="details gray-text">
            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </div><!--//details-->
      </div><!--//item-->
</section>
