<!-- Use icons from fontawesome when you are adding new item in the contact list  -->


<aside class="sidebar bg-dark-cyan white-text">
    <section class="profile">
        <img class="profile-img" src="{{site.baseurl}}/assets/images/profile.png"/>
        <h1 class="name">{{site.data.cv.name}}</h1>
        {% for title in site.data.cv.titles %}
        <h3 class="tagline">{{title}}</h3>
        {% endfor %}
    </section>

    <section class="contact">
        <ul class="list-unstyled contact-list">

            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.data.cv.email}}">{{site.data.cv.email}}</a></li>

            <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.data.cv.phone}}</a></li>

            <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.data.cv.website}}" target="_blank">{{site.data.cv.website}}</a></li>

            <li class="speakerdeck"><i class="fa fa-slideshare"></i><a href="https://speakerdeck.com/{{site.data.cv.speakerdeck}}" target="_blank">speakerdeck.com/{{site.data.cv.speakerdeck}}</a></li>

            <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.data.cv.linkedin}}" target="_blank">linkedin.com/in/{{site.data.cv.linkedin}}</a></li>

            <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.data.cv.github}}</a></li>

            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.data.cv.twitter}}</a></li>

        </ul>
    </section>
   {% include education.html %}
   {% include language.html %}
   {% include interests.html %}


</aside>
